body {
  background-color: aliceblue;
  margin-left: 20px;
}

h1 {
  color: mediumpurple;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: crimson;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-evenly;
}

.form {
  width: 160px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
}

.form button {
  margin-top: 10px;
  width: 80%;
  align-self: center;
}

.form div {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

#addworkout input {
  width: 80px;
}

#addworkout div:first-child input {
  width: initial;
}

label {
  font-weight: bold;
}

.resultsContainer {
  /* background-color: green; */
}

.workoutResult {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}
