body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

#root {
  width: 80%;
  align-self: center;
}

@media screen and (min-width: 1300px) {
  #root {
    width: 1000px;
  }
}

@media screen and (max-width: 910px) {
  #root {
    width: 700px;
  }
}

h1 {
  color: mediumpurple;
  text-align: center;
  font-size: 80px;
  margin: 20px 0;
}

h2 {
  color: crimson;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  #container {
    flex-direction: column;
  }

  .innercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form {
  width: 160px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
}

.form button {
  margin-top: 10px;
  width: 80%;
  align-self: center;
}

.form div {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

#addworkout input, #updateworkout input {
  width: 80px;
}

#addworkout div:first-child input, #updateworkout div:first-child input {
  width: initial;
}

#getworkoutdate div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

/* .resultsContainer {
  background-color: green;
} */

.workoutResult {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  width: 190px;
}

.form, .workoutResult {
  box-shadow: 3px 3px 3px gray;
}

/* #dateFilterResults {
  display: flex;
} */

.deleteButton {
  background-color: salmon;
  color: whitesmoke;
  border: none;
  border-radius: 3px;
  position: relative;
  float: right;
  bottom: 90px;
}

.updateButton {
  background-color: lightseagreen;
  color: whitesmoke;
  border: none;
  border-radius: 3px;
  position: relative;
  float: right;
  bottom: 70px;
  left: 51px;
}

#updateform {
  background-color: lemonchiffon;
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;
  position: absolute;
  display: none;
  top: 400px;
  width: 200px;
  height: 250px;
}

#updateid {
  display: none;
}

#updateform form {
  border: none;
  box-shadow: none;
  padding-top: 10px;
}

#updateform h2 {
  margin: 10px 0 0 0;
}